.checkoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkoutProduct__info {
  padding-left: 20px;
}

.checkoutProduct__info > button {
  background: #3761af;
  margin-top: 10px;
  color: white;
  justify-content: center;
  height: 30px;
  width: 120px;
  padding: 1rem;
}

.checkoutProduct__image {
  object-fit: contain;
  width: 300px;
  height: 200px;
}

.checkoutProduct__rating {
  display: flex;
}

.checkoutProduct__title {
  font-size: 17px;
  font-weight: 800;
}

.checkoutProduct__quantity {
  font-size: 17px;
  font-weight: 800;
}

.checkoutProduct__quantity_button {
  height: 22px;
  width: 20px;
  color: black;
  background: white;
}

@media screen and (max-width: 700px) {
  .checkoutProduct__image {
    max-width: 200px;
  }
}
