.product-screen {
  display: flex;
  flex-wrap: wrap;
  height: max-content;
  width: 100%;
  justify-content: center;
}

.product-image {
  object-fit: contain;
  width: 300px;
  height: 400px;
}

.product-detail {
  margin-top: 40px;
  margin-left: 40px;
  width: 300px;
  height: 400px;
}

.product-title {
  padding: 10px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 10px;
}

.product-description {
  margin-bottom: 10px;
}

@media screen and (max-width: 700px) {
  .product-image {
    width: 300px;
    height: 400px;
  }
  .product-detail {
    margin-left: 0px;
    width: 300px;
    height: 180px;
  }
}
